section {
  margin: 0 auto;
  width: 80%;
  padding: 50px 0;
}

div {
  text-align: left;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

table {
  border: 1px solid #e3e3e3;
  margin: 30px 0;
}

 tr {
  padding: 10px;
  
}